@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.services {
  background-color: rgba(248, 248, 248, 1);
  padding: 128px 300px;
}

.services__title {
  color: rgba(1, 53, 62, 1);
  font-family: Raleway;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 96px;
}

.services__cards {
  display: flex;
  justify-content: space-between;
}

.services__card {
  padding: 44px 30px;
  background-color: rgba(255, 255, 255, 1);
}

.services__card-title {
  color: rgba(1, 53, 62, 1);
  font-family: Roboto Condensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 58px;
  text-align: center;
}

.services__card-list--first {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 136px;
}

.services__card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}

.services__card-text {
  color: rgba(36, 33, 33, 1);
  font-family: Roboto Condensed;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
  text-align: left;
}

.services__card-price {
  color: rgba(1, 53, 62, 1);
  font-family: Roboto Condensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
