@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.blog {
  padding: 80px 155px;
  background-color: rgba(247, 249, 250, 1);
}

.blog__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.blog__heading-title {
  color: rgba(31, 31, 31, 1);
  font-family: "Fraunces", sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 50.4px;
  letter-spacing: 0.2px;
  text-align: left;
}

.blog__heading-link {
  color: rgba(0, 112, 160, 1);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: center;
}

.blog__cards {
  display: flex;
  justify-content: space-between;
}

img {
  width: 355px;
}

.blog__card {
  width: 355px;
  background-color: #fff;
}

.blog__card-wrapper {
  padding: 25px 43px 27px 24px;
}

.blog__card-text {
  background-color: rgba(230, 247, 255, 1);
  color: rgba(44, 144, 201, 1);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  display: inline-block;
  padding: 2px 18px 4px;
  margin-bottom: 8px;
}

.blog__card-title {
  color: rgba(31, 31, 31, 1);
  font-family: "Fraunces", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-bottom: 12px;
}

.blog__card-description {
  color: rgba(31, 31, 31, 1);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-bottom: 13px;
}

.blog__card-date {
  color: rgba(31, 31, 31, 1);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.2px;
  text-align: left;
}
