@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background: rgba(225, 237, 230, 1);
}
.nav-mobile {
  display: none;
}

.nav {
  padding: 32px 165px;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 58px;
  align-items: center;
}

.nav__link-image {
  width: 24px;
}

.nav__link {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  transition: color 0.5s ease;
}

.nav__link:hover {
  color: rgba(89, 141, 102, 1);
  text-decoration: underline;
}

.container {
  padding: 0 calc(100vw * 165 / 1440);
}

.hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 70px;
}

.hero__image {
  width: 540px;
}

.hero-wrapper {
  padding: 144px 165px 144px 0;
}

.hero-wrapper__title {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.hero-wrapper__title-span {
  color: rgba(89, 141, 102, 1);
}

.hero-wrapper__description {
  width: 540px;
  color: rgba(134, 146, 139, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 60px;
}

.hero-wrapper__btn {
  padding: 20px 60px;
  color: rgba(89, 141, 102, 1);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.hero-wrapper__btn:hover {
  background-color: rgba(89, 141, 102, 1);
  color: rgba(244, 246, 245, 1);
}

.catalog {
  margin-bottom: 70px;
}

.catalog-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.catalog-top__title {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: left;
}

.catalog-top__list {
  display: flex;
  gap: 32px;
}

.catalog-top__link {
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(212, 232, 217, 1);
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  transition: 0.5s ease;
}

.catalog-top__link:hover {
  background-color: rgba(55, 107, 68, 1);
  color: rgba(244, 246, 245, 1);
}

.catalog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.catalog__card {
  background-color: rgba(225, 237, 230, 1);
  padding: 20px;
  padding-bottom: 30px;
}

.catalog__image {
   width: 100%;
  margin-bottom: 20px;
}

.catalog__text {
  color: rgba(134, 146, 139, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.catalog__title {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.catalog__description {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.catalog__price {
  color: rgba(89, 141, 102, 1);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.catalog__btn {
  padding: 20px 60px;
  color: rgba(89, 141, 102, 1);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  border: none;
  display: block;
  margin: 0 auto;
  transition: 0.5s ease;
}

.catalog__btn:hover {
  background-color: rgba(55, 107, 68, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.collections {
  background-image: url(../images/pic_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 70px;
}

.collections-wrapper {
  padding: 70px 0;
  padding-left: 165px;
}

.collections-wrapper__heading {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.collections-wrapper__title {
  color: rgba(244, 246, 245, 1);
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.collections-wrapper__description {
  width: 540px;
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 60px;
}

.collections-wrapper__link {
  padding: 20px 60px;
  background: rgba(238, 219, 109, 1);
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  transition: 0.5s ease;
}

.team {
  display: flex;
  margin-bottom: 70px;
}

.team-wrapper {
  margin-top: 124px;
  margin-left: 30px;
}

.team-wrapper__title {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.team-wrapper__description {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.team-wrapper__users {
  display: flex;
  gap: 30px;
}

.footer {
  background-color: rgba(225, 237, 230, 1);
}

.footer-wrapper {
  padding: 23px 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo__image {
  margin-bottom: 32px;
}

.footer-logo__phone {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  display: block;
  margin-bottom: 8px;
}

.footer-logo__text {
  color: rgba(134, 146, 139, 1);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__list {
  display: flex;
  gap: 58px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer__title {
  color: rgba(44, 45, 53, 1);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__link {
  color: rgba(134, 146, 139, 1);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-info__icons {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}

.footer-info__text {
  color: rgba(134, 146, 139, 1);
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 577px) {
  .nav {
    padding: 22px 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
  }
  .nav__link {
    font-size: 18px;
  }
  .container {
    padding: 0 32px;
  }
  .hero__image {
    width: 196px;
  }
  .hero-wrapper {
    padding: 0;
  }
  .hero-wrapper__title {
    font-size: 36px;
  }
  .hero-wrapper__description {
    width: 284px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .catalog-top {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .catalog-top__title {
    font-size: 24px;
  }
  .catalog-top__link {
    font-size: 18px;
  }
  .collections-wrapper {
    padding: 50px 32px;
  }
  .collections {
    background-size: cover;
    background-position: center;
  }
  .team {
    flex-direction: column;
    gap: 30px;
  }
  .team-wrapper {
    margin-top: 0;
    margin-left: 0;
  }
  .team__image {
    width: 304px;
  }
  .team-wrapper__title {
    font-size: 24px;
  }
  .team-wrapper__description {
    font-size: 16px;
  }
  .footer-wrapper {
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
  }
  .footer-logo {
    display: flex;
    justify-content: space-between;
  }
  .footer__list {
    justify-content: space-between;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer-info {
    margin: 0 auto;
  }
  .footer-info__text-wrapper {
    display: flex;
  }
  .catalog__text {
    font-size: 16px;
  }
  .catalog__title {
    font-size: 24px;
  }
  .catalog__description {
    font-size: 14px;
  }
  .catalog__price {
    font-size: 20px;
  }
  .catalog__btn {
    font-size: 18px;
  }
  .catalog__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
  }
  .catalog__image {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 351px) {
  .container {
    padding: 0 16px;
  }
  .nav-mobile {
    padding: 16px 14px;
    display: flex;
    flex-direction: column;
  }
  .logotype {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .burger {
    width: 24px;
  }
  .mobile-cart {
    width: 24px;
  }
  .nav {
    display: none;
  }
  .nav-mobile__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero__image {
    display: none;
  }
  .header {
    margin-bottom: 60px;
  }
  .hero-wrapper__description {
    width: 100%;
    font-size: 14px;
    margin-bottom: 40px;
  }
  .hero-wrapper__btn {
    font-size: 18px;
  }
  .catalog-top__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .link__mob {
    display: none;
  }
  .catalog__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    margin-bottom: 60px;
  }
  .collections-wrapper {
    padding: 50px 16px;
  }
  .collections-wrapper__title {
    font-size: 24px;
  }
  .collections-wrapper__description {
    font-size: 16px;
    width: 290px;
    margin-bottom: 60px;
  }
  .collections-wrapper__link {
    font-size: 18px;
  }
  .collections-wrapper {
    padding: 50px 16px;
  }
  .team-wrapper__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .team-wrapper__description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-logo {
    flex-direction: column;
  }
  .footer__list {
    flex-wrap: wrap;
  }
}
